server {
    listen 80;
    root /var/www/{{ nginx.domain }}/html;
    server_name {{ nginx.domain }} www.{{ nginx.domain }};

    location / {
        # First attempt to serve request as file, then
        # as directory, then fall back to displaying a 404.
        try_files $uri $uri/ =404;
    }
}